.addTask {
  display: flex;
  gap: 0.5rem;
}

.addTask input {
  flex: 1;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;

  color: var(--gray-100);
  line-height: 1.4;
}

.addTask input:focus {
  border: 1px solid var(--purple-dark);
}

.addTask button {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: var(--blue-dark);
  border: 0;
  border-radius: 8px;
  padding: 1rem;

  color: var(--gray-100);
  font-weight: bold;
  line-height: 1.4;

  cursor: pointer;
  transition: background 0.1s;
}

.addTask button:hover {
  background: var(--blue);
}